// Antd
@import '~antd/dist/antd.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

// Import our scss variables and styles
@import './styles/variables';
@import './styles/components';

.logo {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 24px;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
  text-align: center;
}
