.form-wrapper {
  background-color: $PRIMARY_COLOUR;
  form {
    background-color: white;
    height: 100vh;
    max-width: 720px;
    margin: auto;
    padding: 1em 2em;
  }
}

.login-form-button { width: 100%; }

// Add event property
.add-event-card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: #2D3748;
    color: #EDF2F7;
  }
}

.my-event-card .ant-card-head {
  background-color: #2D3748;
  color: white;
}

.my-event-card .ant-card-body {
}
