.form-wrapper {
  background-color: $PRIMARY_COLOUR;
  form {
    background-color: white;
    height: 100vh;
    max-width: 720px;
    margin: auto;
    padding: 1em 2em;
  }
}

.login-form-button { width: 100%; }

// Add event property
.add-event-card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: $PRIMARY_COLOUR;
    color: #EDF2F7;
  }
}

.my-event-card .ant-card-head {
  background-color: $PRIMARY_COLOUR;
  color: white;
}

.my-event-cancelled {
  opacity: 0.75;
  .ant-card-head {
    background-color: #E53E3E;
    color: white;
  }
  &:hover{
    opacity: 1;
  }
}

.my-event-cancelled, .my-event-card {
  position: relative;
  .ant-card-body {
    padding-bottom: 3em;
  }
}

.custom-sessions .ant-list-header{
  background-color: $PRIMARY_COLOUR;
  color: white;
  font-weight: 500;
}

.cancelled-session .ant-input-disabled{
  background: $PRIMARY_RED;
  color: black;
}

.ant-tag { border-radius: 25px; }

.timetable {
  display: flex;
  .timetable-column {
    &:not(:first-child) {
      border-left: 1px solid #7B341E;
    }
    .timetable-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5em;
      width: 10em;
    }
    .timetable-cell:nth-child(even) {
      background-color: #FEEBC8;
    }
    .timetable-cell.label {
      background-color: #F6AD55;
    }
    .timetable-cell.title {
      background-color: #C05621;
      color: white;
      font-weight: bold;
    }
    .timetable-cell.selected {
      background-color: #68D391;
    }
    .timetable-cell.selected:nth-child(even) {
      background-color: #48BB78;
    }
  }
}