.form-wrapper {
  background-color: $PRIMARY_COLOUR;
  form {
    background-color: white;
    height: 100vh;
    max-width: 720px;
    margin: auto;
    padding: 1em 2em;
  }
}

.login-form-button { width: 100%; }

// Add event property
.add-event-card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: #2D3748;
    color: #EDF2F7;
  }
}

.my-event-card .ant-card-head {
  background-color: #2D3748;
  color: white;
}

.my-event-cancelled {
  opacity: 0.75;
  .ant-card-head {
    background-color: #E53E3E;
    color: white;
  }
  &:hover{
    opacity: 1;
  }
}

.my-event-cancelled, .my-event-card {
  position: relative;
  .ant-card-body {
    padding-bottom: 2.5em;
  }
}